.custom-bg {
    background-image: url(../assets/images/bg.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
}

.appointment-custom-bg,
.contact-bg {
    background-image: url(../assets/images/appointment.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

.bg-footer-custom {
    background-image: url(../assets/images/footer.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}
