.btn-custom {
    transition: all ease-in-out .5s;
    border: none;
    overflow: hidden;
}

.btn-custom:hover::before {
    width: 100%;
    transition: all ease-in-out .5s;
}

.btn-custom::before {
    position: absolute;
    left: 0;
    width: 0;
    height: 100%;
    top: 0;
    content: '';
    background: #fdc703;
    color: #fff !important;
    transition: all ease-in-out .5s;
    z-index: -1;
}
