.btn-custom {
    transition: all ease-in-out .5s;
    border: none;
    overflow: hidden;
}

.btn-custom:hover::before {
    width: 100%;
    transition: all ease-in-out .5s;
}

.btn-custom::before {
    position: absolute;
    left: 0;
    width: 0;
    height: 100%;
    top: 0;
    content: '';
    background: #fdc703;
    color: #fff !important;
    transition: all ease-in-out .5s;
    z-index: -1;
}

.why-us-item {
    z-index: 1;
    border: none;
    position: relative;
    overflow: hidden;
    transition: all ease-in-out .5s;
    box-shadow: 0px 0px 1px 1px #ddd;
    cursor: pointer;
}


.why-us-item:hover .why-us-content,
.why-us-item:hover .why-us-content .icon {
    color: #fff !important;
    transition-delay: .4s;
    transition: all ease-in-out .5s;

}

.why-us-item:hover .why-us-content .icon {
    color: #fff !important;
    transition-delay: .5s;
    transition: all ease-in-out .8s;

}

.why-us-item:hover .why-us-content .card_review {
    color: #fff !important;
    transition-delay: .5s;
    transition: all ease-in-out 0.9s;

}

.why-us-item:hover::before {
    color: #fff !important;
    height: 100%;
    transition: all ease-in-out .5s;
}

.why-us-item::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    height: 0;
    width: 100%;
    background: #029e9d;
    transition: all ease-in-out .5s;
    z-index: -1;
}

.bottom_animation {
    z-index: 1;
    border: none;
    position: relative;
    overflow: hidden;
    transition: all ease-in-out .5s;
    box-shadow: 0px 0px 1px 1px #ddd;
    cursor: pointer;
}


.bottom_animation:hover .bottom_animation,
.bottom_animation:hover .bottom_animation .icon {
    color: #fff !important;
    transition-delay: .4s;
    transition: all ease-in-out .5s;

}

.bottom_animation:hover .bottom_animation .icon {
    color: #fff !important;
    transition-delay: .5s;
    transition: all ease-in-out .8s;

}

.bottom_animation:hover::before {
    width: 100%;
    transition: all ease-in-out .5s;
}

.bottom_animation::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 3px;
    transition: all ease-in-out 0.5s;
    background: #029e9d !important;
    cursor: pointer;
}

/* section heading */

.dot_overlay {
    background: #000000 url(../assets/images/dot-overlay.png) repeat;
}

.testimonial {
    background-image: url(../assets/images/testimonial.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/* destination card section */
.destination_item:hover .color-overlay {
    height: 100%;
    transition: all ease-in-out 0.5s;
}

.destination_item:hover img {
    transform: scale(1.2);
    transition: all ease-in-out 0.5s;
}

.top_inherit {
    top: inherit !important;
}

/* Homepage form section */
.section-shape {
    background-image: url(../assets/images/shape-pat.png);
    position: absolute;
    top: -96px;
    left: 0;
    width: 100%;
    height: 96px;
    background-size: contain;
    background-repeat: repeat-x;
    z-index: -1;
}

/* cart page design */
.table :where(thead, tfoot) :where(th, td) {
    background-color: transparent !important;

}

/* Swiper styling */
.swiper {
    width: 100%;
    height: 85vh;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;

    /* Center slide text vertically */
    display: flex;
    justify-content: center;
    align-items: center;
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.autoplay-progress {
    position: absolute;
    right: 16px;
    bottom: 16px;
    z-index: 10;
    width: 48px;
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    color: var(--swiper-theme-color);
}

.autoplay-progress svg {
    --progress: 0;
    position: absolute;
    left: 0;
    top: 0px;
    z-index: -1;
    width: 100%;
    height: 100%;
    stroke-width: 4px;
    stroke: var(--swiper-theme-color);
    fill: none;
    stroke-dashoffset: calc(125.6 * (1 - var(--progress)));
    stroke-dasharray: 125.6;
    transform: rotate(-90deg);
}
